<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividade prática de node avançado</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                API Node.Js
            </div>
            <div class="card-body">
                <h5 class="card-title">Exercício prático do curso de Node!</h5>
                <p class="card-text">Olá, meu nome é Tainá. Escolha o que você deseja consultar:</p>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <a href="/cep" class="btn btn-primary">Consulte um cep</a>
                    </div>
                    <div class="col">
                        <a href="/artista" class="btn btn-danger">Procure um albúm <br/>no Spotify</a>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="card-footer text-muted">
                Veja outros projetos <a href="https://github.com/Taina-Ferreira">aqui</a>.
            </div>
        </div>
    </div>
 

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>